In [1]:
import pandas as pd

df1 = pd.DataFrame(
    ['10','20','25','30'],
    index=['a','b','c','d'],
    columns=['PE']
)
df1

   PE
a  10
b  20
c  25
d  30

In [2]:
df2 = pd.DataFrame(
    ['2.5','3.2','2.5'],
    index=['a','d','g'],
    columns=['PB']
)
df2

    PB
a  2.5
d  3.2
g  2.5

### concat操作

In [4]:
# 纵向拼接
pd.concat([df1,df2],sort=False)

    PE   PB
a   10  NaN
b   20  NaN
c   25  NaN
d   30  NaN
a  NaN  2.5
d  NaN  3.2
g  NaN  2.5

In [5]:
# 横向拼接
pd.concat([df1,df2],sort=False,axis=1)

    PE   PB
a   10  2.5
b   20  NaN
c   25  NaN
d   30  3.2
g  NaN  2.5

In [6]:
# 忽略索引的影响
pd.concat([df1,df2],sort=False,ignore_index=True)

    PE   PB
0   10  NaN
1   20  NaN
2   25  NaN
3   30  NaN
4  NaN  2.5
5  NaN  3.2
6  NaN  2.5

### join操作

In [10]:
# 根据两张表格的index进行操作，默认是left
df1.join(df2,how='left')

   PE   PB
a  10  2.5
b  20  NaN
c  25  NaN
d  30  3.2

In [14]:
# 有链接
df2.join(df1,how='right')

    PB  PE
a  2.5  10
b  NaN  20
c  NaN  25
d  3.2  30

In [12]:
# 内链接
df1.join(df2,how='inner')

   PE   PB
a  10  2.5
d  30  3.2

In [13]:
# 外链接
df1.join(df2,how='outer')

    PE   PB
a   10  2.5
b   20  NaN
c   25  NaN
d   30  3.2
g  NaN  2.5