In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings;
warnings.simplefilter('ignore')

In [2]:
#1、 python下的日期格式
import datetime

# datetime，日期格式
# timedelta 时间差

now = datetime.datetime.now()
print(now)
print(type(now))

2020-06-24 16:19:37.893001
<class 'datetime.datetime'>

In [3]:
#2、 时间格式化
print('{}年{}月{}日'.format(now.year,now.month,now.day))

2020年6月24日

In [4]:
# 3、计算时间差
datetime.datetime.now() - datetime.datetime(2017,8,1)

datetime.timedelta(days=1058, seconds=58779, microseconds=839097)

In [5]:
# 4、时间格式转换
dt_time = datetime.datetime(2017,8,19)
dt_time

datetime.datetime(2017, 8, 19, 0, 0)

In [6]:
datetime.datetime(2017,6,18,21,45)

datetime.datetime(2017, 6, 18, 21, 45)

In [7]:
# 变化格式
str_time = dt_time.strftime('%d/%m/%Y')
str_time

'19/08/2017'

In [8]:
# 将字符串变成datetime有3种方式：
# 方法1 
dt_str = '2017-06-18'
dt_time = datetime.datetime.strptime(dt_str,'%Y-%m-%d')
print(type(dt_time))
print(dt_time)

<class 'datetime.datetime'>
2017-06-18 00:00:00

In [9]:
# 方法2 
from dateutil.parser import parse
dt_str2 = '18-06-17'
dt_time2 = parse(dt_str2)
print(type(dt_time2))
print(dt_time2)

<class 'datetime.datetime'>
2017-06-18 00:00:00

In [10]:
# 方法3 使用pandas
import pandas as pd
str_time = pd.Series(['2017-06-18','2017-06-19','2017-06-20','2017-06-21'],name='Course_time')
str_time

0    2017-06-18
1    2017-06-19
2    2017-06-20
3    2017-06-21
Name: Course_time, dtype: object

In [11]:
dt_time = pd.to_datetime(str_time)

In [12]:
dt_time

0   2017-06-18
1   2017-06-19
2   2017-06-20
3   2017-06-21
Name: Course_time, dtype: datetime64[ns]

In [13]:
# 5、pandas金融数据时间格式
# datetimeindex 时间索引的格式
import datetime
dates = [datetime.datetime(2014,8,1),datetime.datetime(2014,8,2)]

In [14]:
# 输入参数必须为datetimeindex类型
df = pd.DatetimeIndex(dates)
df

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [15]:
df = pd.Series(np.random.random(2),index=dates)
df

2014-08-01    0.632966
2014-08-02    0.029653
dtype: float64

In [16]:
df.index

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [17]:
df.index[0]  # timestamp类型

Timestamp('2014-08-01 00:00:00')

In [18]:
# Datetimeindex 只有index为datetimeindex类型才有如下操作
df['2014-08-02']

0.02965253953925051

In [19]:
# 只有index为datetimeindex类型才有如下操作
df['2014']

2014-08-01    0.632966
2014-08-02    0.029653
dtype: float64

In [20]:
# 只有index为datetimeindex类型才有如下操作
df['2014-08']

2014-08-01    0.632966
2014-08-02    0.029653
dtype: float64

In [21]:
# 将字符串变成Datetimeindex 
date_time = pd.to_datetime(['2017/09/01','2016-05-18','2019.04.23',None])
date_time

DatetimeIndex(['2017-09-01', '2016-05-18', '2019-04-23', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
dates = pd.date_range('2019-08-03',periods=10,freq='D')
df = pd.Series(np.random.random(10),index=dates)
df

2019-08-03    0.154400
2019-08-04    0.067267
2019-08-05    0.050077
2019-08-06    0.797813
2019-08-07    0.402327
2019-08-08    0.884949
2019-08-09    0.202094
2019-08-10    0.525336
2019-08-11    0.375346
2019-08-12    0.178522
Freq: D, dtype: float64

In [23]:
type(dates)  # 可以看出date_range输出类型为datetimeindex

pandas.core.indexes.datetimes.DatetimeIndex

In [24]:
df = pd.period_range('2017-01-01',periods=30,freq='D')

In [25]:
type(df.index)

AttributeError: 'PeriodIndex' object has no attribute 'index'

In [26]:
# period对象起始时间和终止时间
time_period2 = pd.date_range('2017-01-01',periods=12,freq='M')
time_period2

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [27]:
time_period3 = pd.period_range('1/1/2017','12/31/2017',freq='M')
time_period3

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12'],
            dtype='period[M]', freq='M')

In [28]:
time_period4 = pd.period_range('1/1/2017','12/31/2017',freq='D')
time_period4

PeriodIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
             '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
             '2017-01-09', '2017-01-10',
             ...
             '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
             '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
             '2017-12-30', '2017-12-31'],
            dtype='period[D]', length=365, freq='D')

In [29]:
# period对象的起始时间和终止时间
time_period3 + 1

PeriodIndex(['2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
             '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01'],
            dtype='period[M]', freq='M')

In [32]:
# 应用案例
#!pip install tushare
import tushare as ts

period_index = pd.period_range('1/1/2017','12/31/2017',freq='M')

ps = pd.Series(np.random.random(12),index=period_index)
ps

2017-01    0.845340
2017-02    0.858989
2017-03    0.378235
2017-04    0.029814
2017-05    0.722175
2017-06    0.918419
2017-07    0.553351
2017-08    0.383357
2017-09    0.315175
2017-10    0.088403
2017-11    0.528005
2017-12    0.644825
Freq: M, dtype: float64

In [33]:
# 计算收盘价百分比
import tushare as ts
import pandas as pd
data = ts.get_k_data('000001','2015-01-01','2016-12-30')
data.index = pd.to_datetime(data['date'])
del data['date']  # 删除date列，并将date设置为索引
data.head(5)

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

              open   close    high     low     volume    code
date
2015-01-05  10.518  10.538  10.709  10.261  2860436.0  000001
2015-01-06  10.426  10.380  10.781  10.229  2166421.0  000001
2015-01-07  10.235  10.182  10.413  10.064  1700120.0  000001
2015-01-08  10.196   9.840  10.242   9.801  1407714.0  000001
2015-01-09   9.801   9.919  10.439   9.676  2508500.0  000001

In [34]:
data_close_price = data['close']
data_close_price.head(5)

date
2015-01-05    10.538
2015-01-06    10.380
2015-01-07    10.182
2015-01-08     9.840
2015-01-09     9.919
Name: close, dtype: float64

In [35]:
data_close_price['2016-01-01':'2016-01-05']

date
2016-01-04    8.995
2016-01-05    9.075
Name: close, dtype: float64

In [36]:
data.loc['2016-01-04']

open       9.553
close      8.995
high       9.577
low         8.94
volume    563497
code      000001
Name: 2016-01-04 00:00:00, dtype: object

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 488 entries, 2015-01-05 to 2016-12-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    488 non-null    float64
 1   close   488 non-null    float64
 2   high    488 non-null    float64
 3   low     488 non-null    float64
 4   volume  488 non-null    float64
 5   code    488 non-null    object
dtypes: float64(5), object(1)
memory usage: 46.7+ KB

In [38]:
# 时间数据的聚合
sample = data.head(5)
sample

              open   close    high     low     volume    code
date
2015-01-05  10.518  10.538  10.709  10.261  2860436.0  000001
2015-01-06  10.426  10.380  10.781  10.229  2166421.0  000001
2015-01-07  10.235  10.182  10.413  10.064  1700120.0  000001
2015-01-08  10.196   9.840  10.242   9.801  1407714.0  000001
2015-01-09   9.801   9.919  10.439   9.676  2508500.0  000001

In [39]:
# data_close_price/data_close_price.shift()-1 所有收盘价的收益率
cum_return = (1+(data_close_price/data_close_price.shift()-1)).cumprod()
cum_return.head()

date
2015-01-05         NaN
2015-01-06    0.985007
2015-01-07    0.966217
2015-01-08    0.933764
2015-01-09    0.941260
Name: close, dtype: float64

In [40]:
# 计算每日收益率的平均值
cum_return['2015-02'].mean()

0.862181312076928

In [45]:
# 计算每日收益率的平均值2
cum_return.resample('M').mean().head()

date
2015-01-31    0.910924
2015-02-28    0.862181
2015-03-31    0.917895
2015-04-30    1.193445
2015-05-31    1.200807
Freq: M, Name: close, dtype: float64

In [82]:
cum_return.resample('M').ohlc()

                open      high       low     close
date
2015-01-31  0.985007  0.985007  0.863257  0.869520
2015-02-28  0.850826  0.878250  0.843329  0.873221
2015-03-31  0.875783  0.983109  0.835168  0.983109
2015-04-30  0.996204  1.284210  0.986240  1.261530
2015-05-31  1.247960  1.255456  1.146707  1.157335
2015-06-30  1.201082  1.306130  1.024388  1.098406
2015-07-31  1.051528  1.122509  0.926172  0.933669
2015-08-31  0.968400  0.975992  0.714652  0.836212
2015-09-30  0.873980  0.894382  0.784115  0.792465
2015-10-31  0.808313  0.870279  0.808313  0.858132
2015-11-30  0.841526  0.977510  0.834693  0.886886
2015-12-31  0.887645  0.945056  0.887645  0.905770
2016-01-31  0.853578  0.871038  0.732017  0.755456
2016-02-29  0.740273  0.777282  0.722148  0.722148
2016-03-31  0.732777  0.815809  0.732777  0.803758
2016-04-30  0.805276  0.821883  0.793225  0.798444
2016-05-31  0.806794  0.809831  0.771304  0.796925
2016-06-30  0.791706  0.803378  0.780319  0.800626
2016-07-31  0.801480  0.846650  0.801480  0.846650
2016-08-31  0.853957  0.890776  0.827292  0.873316
2016-09-30  0.869615  0.869615  0.831847  0.834693
2016-10-31  0.839248  0.850256  0.832796  0.842000
2016-11-30  0.841051  0.886221  0.834693  0.878820
2016-12-31  0.883374  0.888024  0.833745  0.837445

In [42]:
sample2 = cum_return[1:3]
sample2

date
2015-01-06    0.985007
2015-01-07    0.966217
Name: close, dtype: float64

In [49]:
sample2_by_hour = sample2.resample('H')
sample2_by_hour

In [50]:
# 向前填充数据
sample2_by_hour.fillna(method='ffill')

date
2015-01-06 00:00:00    0.985007
2015-01-06 01:00:00    0.985007
2015-01-06 02:00:00    0.985007
2015-01-06 03:00:00    0.985007
2015-01-06 04:00:00    0.985007
2015-01-06 05:00:00    0.985007
2015-01-06 06:00:00    0.985007
2015-01-06 07:00:00    0.985007
2015-01-06 08:00:00    0.985007
2015-01-06 09:00:00    0.985007
2015-01-06 10:00:00    0.985007
2015-01-06 11:00:00    0.985007
2015-01-06 12:00:00    0.985007
2015-01-06 13:00:00    0.985007
2015-01-06 14:00:00    0.985007
2015-01-06 15:00:00    0.985007
2015-01-06 16:00:00    0.985007
2015-01-06 17:00:00    0.985007
2015-01-06 18:00:00    0.985007
2015-01-06 19:00:00    0.985007
2015-01-06 20:00:00    0.985007
2015-01-06 21:00:00    0.985007
2015-01-06 22:00:00    0.985007
2015-01-06 23:00:00    0.985007
2015-01-07 00:00:00    0.966217
Freq: H, Name: close, dtype: float64

In [51]:
# 向后填充数据
sample2_by_hour.fillna(method='bfill')

date
2015-01-06 00:00:00    0.985007
2015-01-06 01:00:00    0.966217
2015-01-06 02:00:00    0.966217
2015-01-06 03:00:00    0.966217
2015-01-06 04:00:00    0.966217
2015-01-06 05:00:00    0.966217
2015-01-06 06:00:00    0.966217
2015-01-06 07:00:00    0.966217
2015-01-06 08:00:00    0.966217
2015-01-06 09:00:00    0.966217
2015-01-06 10:00:00    0.966217
2015-01-06 11:00:00    0.966217
2015-01-06 12:00:00    0.966217
2015-01-06 13:00:00    0.966217
2015-01-06 14:00:00    0.966217
2015-01-06 15:00:00    0.966217
2015-01-06 16:00:00    0.966217
2015-01-06 17:00:00    0.966217
2015-01-06 18:00:00    0.966217
2015-01-06 19:00:00    0.966217
2015-01-06 20:00:00    0.966217
2015-01-06 21:00:00    0.966217
2015-01-06 22:00:00    0.966217
2015-01-06 23:00:00    0.966217
2015-01-07 00:00:00    0.966217
Freq: H, Name: close, dtype: float64

In [52]:
# 线性插值
sample2_by_hour.interpolate()

date
2015-01-06 00:00:00    0.985007
2015-01-06 01:00:00    0.984224
2015-01-06 02:00:00    0.983441
2015-01-06 03:00:00    0.982658
2015-01-06 04:00:00    0.981875
2015-01-06 05:00:00    0.981092
2015-01-06 06:00:00    0.980309
2015-01-06 07:00:00    0.979526
2015-01-06 08:00:00    0.978744
2015-01-06 09:00:00    0.977961
2015-01-06 10:00:00    0.977178
2015-01-06 11:00:00    0.976395
2015-01-06 12:00:00    0.975612
2015-01-06 13:00:00    0.974829
2015-01-06 14:00:00    0.974046
2015-01-06 15:00:00    0.973263
2015-01-06 16:00:00    0.972481
2015-01-06 17:00:00    0.971698
2015-01-06 18:00:00    0.970915
2015-01-06 19:00:00    0.970132
2015-01-06 20:00:00    0.969349
2015-01-06 21:00:00    0.968566
2015-01-06 22:00:00    0.967783
2015-01-06 23:00:00    0.967000
2015-01-07 00:00:00    0.966217
Freq: H, Name: close, dtype: float64

In [74]:
# 数据频率采样转换的实战应用
data = ts.get_k_data('600030','2017-08-18')
data.head()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

           date    open   close    high     low    volume    code
153  2017-08-18  16.426  16.289  16.426  16.270  484758.0  600030
154  2017-08-21  16.289  16.397  16.406  16.221  586058.0  600030
155  2017-08-22  16.377  16.358  16.455  16.289  474770.0  600030
156  2017-08-23  16.348  16.494  16.660  16.318  655328.0  600030
157  2017-08-24  16.475  16.240  16.514  16.231  530892.0  600030

In [77]:
data.set_index('date',inplace=True)
data.sort_index(ascending=True,inplace=True)
data.head()

              open   close    high     low    volume    code
date
2017-08-18  16.426  16.289  16.426  16.270  484758.0  600030
2017-08-21  16.289  16.397  16.406  16.221  586058.0  600030
2017-08-22  16.377  16.358  16.455  16.289  474770.0  600030
2017-08-23  16.348  16.494  16.660  16.318  655328.0  600030
2017-08-24  16.475  16.240  16.514  16.231  530892.0  600030

In [78]:
data.index = pd.to_datetime(data.index)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 681 entries, 2017-08-18 to 2020-06-23
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    681 non-null    float64
 1   close   681 non-null    float64
 2   high    681 non-null    float64
 3   low     681 non-null    float64
 4   volume  681 non-null    float64
 5   code    681 non-null    object
dtypes: float64(5), object(1)
memory usage: 37.2+ KB

In [81]:
data_5m = data.resample('5T')
data_5m.head()

AttributeError: 'DatetimeIndexResampler' object has no attribute 'head'