In [1]:
# 引包
import pandas as pd
import numpy as np
import warnings;
warnings.simplefilter('ignore')

In [2]:
# 可以通过一下三种方式构建
# 第一种方式：ndarray
# 第二种方式：dict 方式构建DataFrame
# 第三种方式：自定义DataFrame

# 通过构建numpy的Ndarray
array = np.random.randn(6,4)
array

array([[ 0.9735881 , -1.60085964, -1.05747539, -0.55061116],
       [-0.10590732, -0.1220805 ,  0.66647687, -1.70397605],
       [ 0.81795996,  1.39938954,  0.14641391,  0.59486203],
       [ 0.26518811,  0.31394511, -1.3389686 , -0.29642022],
       [-0.29464452, -0.34461856,  0.05079721, -0.30755174],
       [ 1.18057429, -0.2330767 , -1.10196199,  0.88697685]])

In [3]:
df_obj = pd.DataFrame(array)
df_obj

          0         1         2         3
0  0.973588 -1.600860 -1.057475 -0.550611
1 -0.105907 -0.122081  0.666477 -1.703976
2  0.817960  1.399390  0.146414  0.594862
3  0.265188  0.313945 -1.338969 -0.296420
4 -0.294645 -0.344619  0.050797 -0.307552
5  1.180574 -0.233077 -1.101962  0.886977

In [6]:
# 给上面df加上行标签和列标签
# 通过 colmns 和 index 来定义行和列
df_obj = pd.DataFrame(array,columns=['a','b','c','d'],index=['e','f','g','h','i','j'])
df_obj

          a         b         c         d
e  0.973588 -1.600860 -1.057475 -0.550611
f -0.105907 -0.122081  0.666477 -1.703976
g  0.817960  1.399390  0.146414  0.594862
h  0.265188  0.313945 -1.338969 -0.296420
i -0.294645 -0.344619  0.050797 -0.307552
j  1.180574 -0.233077 -1.101962  0.886977

In [9]:
# 基于字典方式构建,其实质是 key为列名，value为列值
dict_data = {
    'Date': pd.Timestamp(20191128),
    'Number': pd.Series(6,list(range(4))),
    'Crouse_name': pd.Series(['Python','Quant','Finance','CFA']),
    'Company': 'JCAQF'
}

df = pd.DataFrame(dict_data)
df

                           Date  Number Crouse_name Company
0 1970-01-01 00:00:00.020191128       6      Python   JCAQF
1 1970-01-01 00:00:00.020191128       6       Quant   JCAQF
2 1970-01-01 00:00:00.020191128       6     Finance   JCAQF
3 1970-01-01 00:00:00.020191128       6         CFA   JCAQF

## Series 与 DataFrame 的区别是 ： Series 没有 colmns属性

In [19]:
# DataFrame 选择操作
# 比如：现在需要选择 a行和d行的数据，那么可以表示如下：

# 选择按照列名选择列
df_obj[['a','d']]

          a         d
e  0.973588 -0.550611
f -0.105907 -1.703976
g  0.817960  0.594862
h  0.265188 -0.296420
i -0.294645 -0.307552
j  1.180574  0.886977

In [21]:
# 对于选择行数据
# 对于选择单个行数据
df_obj.loc['f']

a   -0.105907
b   -0.122081
c    0.666477
d   -1.703976
Name: f, dtype: float64

In [23]:
# 选择多行数据(取多行连续数据)
df_obj.loc['e':'h']

          a         b         c         d
e  0.973588 -1.600860 -1.057475 -0.550611
f -0.105907 -0.122081  0.666477 -1.703976
g  0.817960  1.399390  0.146414  0.594862
h  0.265188  0.313945 -1.338969 -0.296420

In [25]:
# 选择多行数据（不连续数据）
df_obj.loc[['e','i']]

          a         b         c         d
e  0.973588 -1.600860 -1.057475 -0.550611
i -0.294645 -0.344619  0.050797 -0.307552

In [27]:
# 还可以自由选择行和列
df_obj.loc[['e','h'],['a','c']]

          a         c
e  0.973588 -1.057475
h  0.265188 -1.338969

In [28]:
# loc与iloc的区别：loc 选取数据使用的是列名和行名，iloc/ix 选择数据是数据的index

df_obj.iloc[1:3]

          a         b         c         d
f -0.105907 -0.122081  0.666477 -1.703976
g  0.817960  1.399390  0.146414  0.594862

In [29]:
df_obj.ix[1:3]

          a         b         c         d
f -0.105907 -0.122081  0.666477 -1.703976
g  0.817960  1.399390  0.146414  0.594862

In [36]:
# ix, 既可以选择序号，也可以是列名或者行名
#  但是新版本即将取消ix功能
df_obj.ix[1:3,'a':'c']

          a         b         c
f -0.105907 -0.122081  0.666477
g  0.817960  1.399390  0.146414