In [1]:
import pandas as pd
import numpy as np

In [2]:
#  'index: ['stock1','stock2','stock3','stock4','stock5']
data = {
   'industry': ['A','B','A','A','B'],
   'PE': [10,20,8,2,35],
   'ROE': [0.02,-0.01,0.10,0.01,0.20]
}

In [4]:
stock_data = pd.DataFrame(data,index= ['stock1','stock2','stock3','stock4','stock5'])
stock_data

       industry  PE   ROE
stock1        A  10  0.02
stock2        B  20 -0.01
stock3        A   8  0.10
stock4        A   2  0.01
stock5        B  35  0.20

In [5]:
# 计算各行业的PE均值，存储在pe_data中
pe_data = stock_data.groupby('industry')['PE'].mean()
pe_data

industry
A     6.666667
B    27.500000
Name: PE, dtype: float64

In [6]:
# 从pe_data 中确定PE均值最小行业，存储 pe_min_industry
# idxmin, idmax 计算某一列最大或者最小值
pe_min_industry = pe_data.idxmin()
pe_min_industry

'A'

In [7]:
# 获取PE均值最小行业的所有股票数据，并存储在pe_min_industry_data
pe_min_industry_data = stock_data[stock_data['industry'] == pe_min_industry]
pe_min_industry_data

       industry  PE   ROE
stock1        A  10  0.02
stock3        A   8  0.10
stock4        A   2  0.01