In [1]:
import pandas as pd
import numpy as np

# 计算策略的最终收益率

In [2]:
data = {
    'stock1': [0.01,0.03,0.02,0.01,0.05,-0.10,-0.05,-0.01,0.01,0.01,0.02,0.01],
    'stock2': [-0.01,-0.02,0.02,0.01,0.02,0.03,0.02,0.05,0.06,0.04,0.05,0.07],
    'stock3': [0.01,-0.01,0.00,0.01,0.02,0.01,-0.02,0.00,0.01,0.03,-0.01,0.00],
}

index = ['2018-01-01','2018-01-02','2018-01-03','2018-01-04','2018-01-05','2018-01-08','2018-01-09','2018-01-10','2018-01-11','2018-01-12','2018-01-15','2018-01-16']

In [3]:
return_data = pd.DataFrame(data,index=index)
return_data

            stock1  stock2  stock3
2018-01-01    0.01   -0.01    0.01
2018-01-02    0.03   -0.02   -0.01
2018-01-03    0.02    0.02    0.00
2018-01-04    0.01    0.01    0.01
2018-01-05    0.05    0.02    0.02
2018-01-08   -0.10    0.03    0.01
2018-01-09   -0.05    0.02   -0.02
2018-01-10   -0.01    0.05    0.00
2018-01-11    0.01    0.06    0.01
2018-01-12    0.01    0.04    0.03
2018-01-15    0.02    0.05   -0.01
2018-01-16    0.01    0.07    0.00

In [5]:
# 策略每6日进行一次调仓，已知该策略前6日等权有stock1，stock2，后6日等权持有stock2，stock3
return_data.loc['2018-01-01':'2018-01-08','portfolio_return'] = 0.5 * (return_data['stock1']+return_data['stock2'])
return_data.loc['2018-01-09':'2018-01-16','portfolio_return'] = 0.5 * (return_data['stock2']+return_data['stock3'])

In [6]:
final_return = (1+return_data['portfolio_return']).prod()
final_return

1.1986719897555993