In [1]:
import pandas as pd
import numpy as np

data = {
    'VOLUME': [19.2448,26.8842,8.2433,36.4546]
}

In [3]:
stock_data = pd.DataFrame(data,index=['600001','600002','600004','600007'])
stock_data

         VOLUME
600001  19.2448
600002  26.8842
600004   8.2433
600007  36.4546

In [4]:
stock_data.apply(lambda x: round(x,2))

        VOLUME
600001   19.24
600002   26.88
600004    8.24
600007   36.45

In [5]:
stock_data.applymap(lambda x: round(x,2))

        VOLUME
600001   19.24
600002   26.88
600004    8.24
600007   36.45

In [6]:
stock_data.apply(lambda x: np.round(x,2))

        VOLUME
600001   19.24
600002   26.88
600004    8.24
600007   36.45